body { 
    background-color: rgb(241, 255, 203);
    /* justify-content: center; */
}

.game_display {
    display: flex;
}

canvas {

        flex: 1;

        display: block;
        border: 39px ridge rgb(203, 255, 242);

        border-radius: 25px;
}

.leftSideBar {

    flex: 1;

    text-align: center;
    background-color: rgb(255, 255, 255);

    border-radius: 7px;
}


#title {
    color: red;
    background-color: yellow;
    border: 10px groove rgb(67, 217, 255);
}

#LB {

    background-color: rgb(67, 217, 255);
    border: 10px groove rgb(238, 255, 0);

}

.rightSideBar {

    flex: 1;

    text-align: center;
    background-color: black;

    border-radius: 7px;

}

.rightSideBar>h3 {

    background-color: rgb(206, 241, 255);

    border-radius: 10px;

    margin-left: 37%;
    margin-right: 37%;
}




#message {

    text-align: center;

    background-color: rgb(187, 236, 255);

    border-radius: 10px;

    margin-left: 27%;
    margin-right: 27%;

}
