body { 
    background-color: black;
    background-image: url('checkerboard-bg.jpg');
    
}

.game_display {
    display: flex;

}

canvas {

        flex: 2;

        display: block;
        border: 39px outset rgb(203, 255, 242); 
}

.leftSideBar {

    flex: 1;

    text-align: center;
    background-image: linear-gradient(rgb(224, 122, 255), yellow);
    /* background-image: url('checkerboard-bg.jpg'); */

    border-radius: 37px;
}


#title {
    color: red;
    background-color: yellow;
    border: 10px outset rgb(67, 217, 255);

    margin-top: 7%;
    margin-left: 15%;
    margin-right: 15%;
}

#currentSession {
    border: 3px groove yellow;
    background-color: aqua;
    margin-left: 25%;
    margin-right: 25%;
}

#cshs {
    color: white;
    background-color: rgb(255, 1, 200);

    margin: 0 auto;
    
}

#LB {

    border: 10px ridge rgb(255, 222, 228);

}

#lbdiv {
    margin-left: 1%;
    margin-right: 1%;
    
    background-color: rgb(152, 243, 255);

    border-radius: 30px;
}

#leaderBoardTab {
  
    width: 90%;
    border: 3px solid rgb(255, 247, 0);
    border-radius: 7px;
}

th {

    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 5px;
}

td {
    
    background-color: rgb(255, 224, 230);
    border: 2px solid aquamarine;
}

.rightSideBar {

    flex: 1;

    text-align: center;
    /* background-image: url('checkerboard-bg.jpg'); */
    background-image: linear-gradient(rgb(125, 244, 255), rgb(255, 122, 178));

    border-radius: 37px;

}

.rightSideBar>h3 {

    background-color: rgb(206, 241, 255);

    border-radius: 10px;

    margin-left: 27%;
    margin-right: 27%;
}

#darkmode {
    color: whitesmoke;
    background-color: black;
    border: 10px whitesmoke solid;
    border-radius: 10px;
}


.gameinfo {
    background-color: black;

    margin-left: 7%;
    margin-right: 7%;

    border: 10px solid rgb(239, 255, 147);
}

#message {

    text-align: center;

    background-color: rgb(187, 236, 255);

    border-radius: 10px;

    margin: 10%;


}
